<div class="" style="z-index: 222; border-radius: 5px" mat-dialog-content>
  <h3
    class="d-flex align-items-center justify-content-center pt-2 pb-4 text-center fs-5 fw-bolder"
    style="
      opacity: 0.7;
      text-shadow: 2px 2px #a3a3a3;
      border-bottom: 2px solid #436850;
    "
  >
    <span
      class="rounded-circle d-flex align-items-center justify-content-center"
      style="width: 40px; height: 40px"
    >
      <mat-icon class="mb-1 fs-3">createIcon</mat-icon>
    </span>
    <span class="m-2 mt-0 fs-5 mb-0 text-success"> Create new group</span>
  </h3>
  <div class="row m-0">
    <form
      class="col-lg-10 m-auto row mb-3 mt-3"
      [formGroup]="userForm"
      (ngSubmit)="onSubmit(userForm.value)"
    >
      <div class="mb-4 col-sm-12 p-0">
        <input
          type="text"
          class="form-control p-2"
          placeholder="Group name"
          id="name"
          formControlName="name"
          style="
            border-radius: 0;
            font-size: 15px;
            border-left: 5px solid #436850;
          "
        />
      </div>
      <div class="col-sm-12 row">
        <div class="col-sm-6 mb-3 p-0">
          <input
            type="file"
            class="form-control p-2"
            id="image"
            (change)="handelUpload($event)"
            formControlName="image"
            style="display: none"
          />
          <label for="image" class="text-primary"
            ><mat-icon style="color: #436850;">image</mat-icon>
          </label>
        </div>
        <div class="mb-3 col-sm-6 row">
          <div *ngFor="let img of images" class="col-3 p-1">
            <img style="width: 80px; height: 60px" [src]="img" alt="" />
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary text-white"
        style="border-radius: 0; background-color: #436850"
        [disabled]="userForm.invalid"
        mat-dialog-close="true"
      >
        Create
      </button>
    </form>
  </div>
</div>
