<swiper-container
  [spaceBetween]="spaceBetween"
  [slidesPerView]="slidesPerView"
  navigation="true"
  freeMode="true"
  watchSlidesProgress="true"
  freeMode="true"
  loop="true"
>
  <swiper-slide *ngFor="let group of groups" style="height: 240px">
    <div class="mt-2 d-flex">
      <img
        [src]="'data:image/jpg;base64,' + group.image"
        class="p-1 m-auto"
        style="
          width: 210px;
          height: 130px;
          border: 2px solid silver;
          border-bottom: 0px;
          cursor: pointer;
        "
        routerLink="/group/{{ group._id }}"
      />
    </div>
    <div
      class="p-4 bg-light d-flex justify-content-center align-items-center"
      style="border: 3px solid silver; height: 40%"
    >
      <p class="fs-4 text-center mb-0" style="line-height: 110%">
        {{ group.name }}
      </p>
    </div>
  </swiper-slide>
</swiper-container>
